#about {
  background-color: var(   --color-grey);
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-top: 1px solid var(--color-grey-x-dark);
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.35); /* Ombre intérieure */
}
  
#divAbout{
  width: 49vw;
  font-size: 1em;
  padding-right: 5em;
}

#imgWeb{
  width: 49vw;
}

#TitleAboutPage::after {
  content: '';
  position: absolute;
  bottom: 0vw;
  left: 0.5vw;
  width: 0;
  height: 5.5px; /* Épaisseur de la ligne */
  background: linear-gradient(45deg, var(--color-grey-xxx-light), var(--color-grey-xx-light), var( --color-grey-light)); /* Utilise la couleur du texte */
  transition: width 0.5s ease-out; /* Animation fluide */
}

#TitleAboutPage:hover::after {
  width: 10.9vw; /* La ligne s'étend sur toute la largeur */
}