@import '../styles/boska.css';
@import '../styles/clashgrotesk.css';


:root {
  --color-purple-light: #8285D8;
  --color-purple: #8A077A;
  --color-purple-dark: #5E609C;

  --color-blue-light: #7EA8A6;
  --color-blue: #277D7A;
  --color-blue-dark: #091E1C;

  --color-green-light: #43C971;
  --color-green: #2F9051;

  --color-pink-light: #FF7F50;
  --color-pink: #CC6540;

  --color-grey-xxxx-light: #D7D7BF;
  --color-grey-xxx-light: #BAB88E;
  --color-grey-xx-light: #B3B182;
  --color-grey-x-light: #AAA772;
  --color-grey-light: #A19E63;
  --color-grey: #8A873C;
  --color-grey-base: #7D7A27;
  --color-grey-dark: #64611F;
  --color-grey-x-dark: #464315;
  --color-grey-xx-dark: #3F3C12;
  
	--t1: all 0.5s ease 0s;
}


* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
	content: "";
}


body {
  margin: 0;
  font-family: 'ClashGrotesk-Regular', 'Boska-Medium', 'Roboto', 'Arial', sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App {
  text-align: center;
}


/*bar defilement */

/* Personnalisation du style de la barre de défilement */
::-webkit-scrollbar {
  width: 10px; /* Largeur de la barre de défilement */
}

/* Personnalisation du fond de la barre de défilement */
::-webkit-scrollbar-track {
  background: var(--color-blue);
}

/* Personnalisation de la partie mobile de la barre de défilement */
::-webkit-scrollbar-thumb {
  background: var(--color-blue-light); /* Couleur de la partie mobile */
  border-radius: 10px; /* Arrondi des bords */
}

/* Personnalisation lorsque la barre est survolée */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-purple-dark); /* Couleur de la partie mobile */
}




/*Title page*/
.TitlePage{
  color: var(--color-grey-xxxx-light);
  filter: brightness(1.1);
  font-family:  'Boska-Bold', 'ClashGrotesk-Regular',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: clamp(0.2rem, 3vw, 3rem);
  font-weight: bold;
  underline: solid;
  text-shadow: -3px 4px 8px rgba(0, 0, 0, 1);
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TitlePage::after {
  content: '';
  position: absolute;
  bottom: 0vw;
  left: 0vw;
  width: 0;
  height: 5px; /* Épaisseur de la ligne */
  background: linear-gradient(45deg, var(--color-grey-xxx-light), var(--color-grey-xx-light), var( --color-grey-light)); /* Utilise la couleur du texte */
  transition: width 0.5s ease-out; /* Animation fluide */
}

.TitlePage:hover::after {
  width: 100%; /* La ligne s'étend sur toute la largeur */
}

.page{
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container{
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fadeIn {
  opacity: 0;
  animation: fadeInEffect 1s ease-in-out forwards;
}

@keyframes fadeInEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
