#formation {
  height: 100vh;
  position: relative;
  font-family: 'ClashGrotesk-Medium','Boska-Medium';
  border-top: 1px solid var(--color-blue);
  box-shadow: inset 0 8px 8px rgba(0, 0, 0, 0.4); /* Ombre intérieure */
  background-color: var( --color-purple);
}


.square{
  color: var( --color-grey-xx-dark);
  font-size: calc(3.5px + 1vmin);
  margin-top: 2.8vw;
  left: -48vw; /* Départ hors de l'écran à gauche */
  width: 16vw;
  height: 11vw;
  background-color: var(--color-grey-light);
  box-shadow: 1.5px 6px 4px var(--color-grey-xx-dark);
  border-top: 5px solid var(--color-grey-dark);
  border-bottom: 5px solid var(--color-grey-dark);
  z-index: 1;
}


#square5 {
  border-left: 10px solid var(--color-grey-dark);
  width: calc(16vw + 10px);
}


#triangle {
  top: 15.2vw;
  left: -32.2vw; /* Départ hors de l'écran à gauche */
  border-top: 8vw solid transparent;
  border-bottom: 8vw solid transparent;
  border-left: 12vw solid var(--color-grey-xx-dark);
  z-index: 2;
}
#triangle:before {
  position: absolute;
  left: -11.9vw;
  top: -7.7vw;
  border-top: 7.5vw solid transparent;
  border-bottom: 7.5vw solid transparent;
  border-left: 11.3vw solid var(--color-grey);
  z-index: 1;
}
#triangle:after {
  position: absolute;
  left: -12.2vw;
  top: -8.2vw;
  border-top: 8vw solid transparent;
  border-bottom: 8vw solid transparent;
  border-left: 12vw solid var(--color-grey-dark);
  z-index: 0;
}

.openable {
  overflow: hidden;
}

.openable:hover {
  height: 30vw;
  transition: height 1s ease-out, font-size 1s ease-in-out ; /* Synchronisation du conteneur */
  font-size: calc(1.4px + 1vmin);
}
#square5:hover {
  font-size: calc(2.1px + 1vmin);
}
#square3:hover {
  font-size: calc(3.3px + 1vmin);
}

.objectMoving {
  position: absolute;
  top: 30vh;
  transition: height 1s ease-out, font-size 1s ease-in-out ; /* Synchronisation du conteneur */

}

.titleInArrow{
  font-family: 'ClashGrotesk-SemiBold','Boska-Medium';
  
}

.textAppearInArrow {
  font-family: 'ClashGrotesk-Regular','Boska-Medium';
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.2s ease-out, margin 1s ease;
}

.openable:hover .textAppearInArrow {
  max-height: 160px;
  margin: -5px 10px 0 10px; 
  transition: max-height 1.2s ease-out, margin 1s ease;
}


.textAppear {
  position: absolute;
  transition: opacity 0.5s ease-out;
  top: 19vh;
}

#L1{
  left: 7vw;
}
#L2{
  left: 23vw;
}
#L3{
  left: 39vw;
}
#M1{
  left: 55vw;
}
#M2{
  left: 71vw;
}

.littleArrow {
  position: absolute;
  transition: opacity 0.5s ease-out;
  top: 62vh;
  font-size: calc(1.48px + 5vmin);
  z-index: 0;
}

#la1{
  left: 12.8vw;
}
#la2{
  left: 28.8vw;
}
#la3{
  left: 44.8vw;
}

@keyframes arrowAnimation {
  0% {
    opacity: 0.2;
    transform: translateY(0);
  }
  50% {
    opacity: 0.9;
    transform: translateY(2vw);
  }
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
}

.littleArrow {
  animation: arrowAnimation 3s infinite ease-in-out;
}


/*responsive*/

@media (max-width: 600px) {
  #square1 {
    margin-top: 2.5vw;
    top: 50vh;
    left: -16vw;
    width: 16vw;
    height: 12vw;
    background-color: blue;
  }
  #square2 {
    margin-top: 2.5vw;
    top: 50vh;
    left: -16vw;
    width: 16vw;
    height: 12vw;
    background-color: blue;
  }
  #square3 {
    margin-top: 2.5vw;
    top: 50vh;
    left: -16vw;
    width: 16vw;
    height: 12vw;
    background-color: blue;
  }
  #square4 {
    margin-top: 2.5vw;
    top: 50vh;
    left: -16vw;
    width: 16vw;
    height: 12vw;
    background-color: blue;
  }
  #square5 {
    margin-top: 2.5vw;
    top: 50vh;
    left: -16vw;
    width: 16vw;
    height: 12vw;
    background-color: blue;
  }

  #triangle {
    top: 50vh;
    left: -8vw;
    border-top: 9vw solid transparent;
    border-bottom: 9vw solid transparent;
    border-left: 12vw solid blue;
  }
}
